#!/hint/bash
# shellcheck disable=SC2034

### Basic configuration ###

#_nomakepkg_prefix_path
#_nomakepkg_midbuild_prompt
#_nomakepkg_dep_resolution_distro

_EXTERNAL_INSTALL=false
_GENERATE_DEBIAN_PACKAGE=false

# Wine flavour settings

_plain_version=
_use_staging=true
_staging_version=
_staging_upstreamignore=true
_use_fastsync=false
_use_esync=true
_use_fsync=true
_fsync_futex2=true
_use_vkd3dlib=false
_dxvk_dxgi=true

# Game-specific patches

_warframelauncher_fix=true
_mwo_fix=false
_re4_fix=false
_childwindow_fix=false
_lol920_fix=false
_assettocorsa_hudperf_fix=false
_mk11_fix=true
_ffxivlauncher_fix=false
_kof98_2002_BGM_fix=false

# Other patches

_launch_with_dedicated_gpu=false
_plasma_systray_fix=true
_update_winevulkan=true
_use_josh_flat_theme=true

# Proton patches #

_FS_bypass_compositor=true

_proton_fs_hack=false
_proton_mf_hacks=true
#_proton_rawinput
_msvcrt_nativebuiltin=false
_win10_default=true
_protonify=true

### Userpatches ###

_community_patches='
    ID3DXEffectCompiler-partial-implementation.mypatch
    hide-prefix-update-window.mypatch
    kernel32-implement-Windows-NT-style-GMEM_MOVEABLE-LM-staging.mypatch
    shell32-Move-file-SHFileOperation-allow-from-wildchar-move.mypatch
'
