#!/hint/bash
# shellcheck disable=SC2034,SC2120

if ! [ "${_frogminer_rebase:-}" = true ]; then
    return
fi

check_has_output() {
    grep '.'
}

# parameter 1 or input: output of grep -n
grep_extract_line_nr() {
    sed -n 's/^\([0-9][0-9]*\):.*$/\1/p' -- ${1+"$1"} |\
    check_has_output
}

# parameter 1 or input: patch file
find_diff_start() {
    grep -e '^diff --git ' -e '^--- .*/' -n -- ${1+"$1"} | \
    head -n1 | \
    grep_extract_line_nr
}

generate_diff() {
    # shellcheck disable=SC2016
    git format-patch -1 --stdout | sed -n -e '/^diff --git/,${p;b}'
}

# parameter 1 or input: patch file
find_git_version_start() {
    awk -- '
        /[^ ]/ {
            line = null;
        }
        /([0-9]+\.)+[0-9]+/ {
            if (prev_line ~ /^-- ?$/)
                line = NR;
        }
        { prev_line=$0; }
        END { if (line) print line - 1; }
    ' ${1+"$1"} | \
    check_has_output
}

# parameter 1 or input: patch file
remove_empty_hunks() {
    awk -- '
        BEGIN { printed = 0; }
        function print_buffer() {
            if (!printed || buffer ~ /\n-(--([^ ]|$)|-([^-]|$)|([^-]|$))/ || buffer ~ /\n\+(\+\+([^ ]|$)|\+([^+]|$)|([^+]|$))/)
                print buffer;
            printed = 1;
            buffer = "";
        }
        /^@@ / { print_buffer() }
        END { print_buffer() }
        {
            if (buffer != "")
                buffer = buffer "\n" $0;
            else
                buffer = $0;
        }
    ' ${1+"$1"}
}

# parameter 1: patch file
update_diff() (
    tmpdir="$(mktemp -d)" || return
    [ -n "$tmpdir" ] || return
    trap 'rm -rf -- "${tmpdir:?}"' EXIT

    diff_start="$(find_diff_start "$1")" || return
    head -n"$((diff_start - 1))" -- "$1" >"${tmpdir}"/new.patch || return
    generate_diff >>"${tmpdir}"/new.patch || return

    if ! find_git_version_start "$1" >/dev/null; then
        git_version_start="$(find_git_version_start "${tmpdir}"/new.patch)" || return
        head -n"$((git_version_start - 1))" -- "${tmpdir}"/new.patch >"${tmpdir}"/new.patch2 || return
        mv -- "${tmpdir}"/new.patch2 "${tmpdir}"/new.patch || return
    fi

    git diff --no-index -- "$1" "${tmpdir}"/new.patch >"${tmpdir}"/new.patch.diff
    if [ "$(wc -l -- "${tmpdir}"/new.patch.diff | cut -d' ' -f1)" -ne 0 ]; then
        sed -e 's/^-#/ #/' -e 's/^-$/ /' -- "${tmpdir}"/new.patch.diff | remove_empty_hunks >"${tmpdir}"/new.patch.diff2 || return
        rediff -- "${tmpdir}"/new.patch.diff "${tmpdir}"/new.patch.diff2 >"${tmpdir}"/new.patch.diff3 || return
        patch -N -i "${tmpdir}"/new.patch.diff3 -- "$1" || return
        rm -f -- "$1".orig ||:
    fi
)

# parameter 1 or input: patch file
find_diffstat_end() {
    grep -E -e '^ [0-9]+ files? changed(, [0-9]+ insertions?\(\+\))?(, [0-9]+ deletions?\(-\))?$' \
            -e '^ create mode [0-7]+ .+$' \
            -e '^ delete mode [0-7]+ .+$' \
            -n -- ${1+"$1"} |\
    tail -n1 |\
    grep_extract_line_nr
}

_find_diffstat_before_start() {
    grep -E -e '^ .* +\| +[0-9]+ \+*-*$' \
            -e '^ [0-9]+ files? changed(, [0-9]+ insertions?\(\+\))?(, [0-9]+ deletions?\(-\))?$' \
            -e '^ create mode [0-7]+ .+$' \
            -e '^ delete mode [0-7]+ .+$' \
            -v -n -- ${1+"$1"} |\
    tail -n1 |\
    grep_extract_line_nr
}
# parameter 1 or input: patch file up to the end of the diffstat
find_diffstat_start() {
    printf '%d\n' "$(($(_find_diffstat_before_start ${1+"$1"}) + 1))"
}

generate_diffstat() {
    git diff --stat=72 --summary 'HEAD~1..HEAD'
}

# parameter 1: patch file
update_diffstat() (
    if ! diffstat_end="$(find_diffstat_end "$1")"; then
        return 0
    fi
    if ! diffstat_start="$(head -n"$diffstat_end" -- "$1" | find_diffstat_start)"; then
        return 0
    fi
    tmpfile="$(mktemp)" || return
    [ -n "$tmpfile" ] || return
    trap 'rm -f -- "${tmpfile:?}"' EXIT
    {
        head -n"$((diffstat_start - 1))" -- "$1" || return
        generate_diffstat || return
        tail -n"+$((diffstat_end + 1))" -- "$1" || return
    } >"$tmpfile"
    cat -- "$tmpfile" >"$1" || return
)

# parameter 1: patch file
update_patch() {
    set -- "$(realpath -- "$1"; echo x)"
    set -- "${1%?x}"
    update_diff "$1" || return
    update_diffstat "$1" || return
}

verify_patch() {
    set -- "$(realpath -- "$1"; echo x)"
    set -- "${1%?x}"

    patch_before="$(git diff 'HEAD~1..HEAD')" || return
    git checkout --detach 'HEAD~1' || return
    if ! patch -Np1 < "$1"; then
        return 1
    fi
    rm -f ./**/*.orig 2>/dev/null ||:
    git add . >/dev/null || return
    patch_after="$(git diff --staged)" || return
    if ! [ "${patch_before}" = "${patch_after}" ]; then
        error "Patch result was changed by rebase."
        return 1
    fi
    git reset --hard >/dev/null || return
    git clean -df >/dev/null || return
    git checkout - >/dev/null || return
}

rebase() (
    rm -f ./**/*.orig 2>/dev/null ||:
    git add .
    git commit -m 'base' --no-gpg-sign
    old_commit="$(git rev-parse HEAD)"
    # shellcheck disable=SC2154
    for _f in "${_patches[@]}"; do
        [ -e "${_f}" ] || continue

        _f_real="${basedir}/${_f##*/}"

        msg2 "######################################################"
        msg2 ""
        if [ -e "${_f}" ]; then
            msg2 "Rebasing patch ${_f}"
        else
            msg2 "Applying patch ${_f}"
        fi
        msg2 ""
        msg2 "######################################################"

        echo -e "\nApplying your own patch ${_f##*/}" >> "$_where"/prepare.log
        if ! patch -Np1 < "${_f}" >> "$_where"/prepare.log; then
            error "Patch application has failed. The error was logged to $_where/prepare.log for your convenience."
            return 1
        fi

        rm -f ./**/*.orig 2>/dev/null ||:
        git add .
        git commit -m "patch ${_f##*/}" --no-gpg-sign

        if [ -e "${_f_real}" ]; then
            update_patch "${_f_real}" || return
            verify_patch "${_f_real}" || return
        fi
    done
    git reset --hard "$old_commit"
    git reset --soft HEAD~1

    msg2 "######################################################"
    msg2 ""
    msg2 "Patch rebase finished"
    msg2 ""
    msg2 "######################################################"
)

firstpatch() {
    local patchfile i=0
    # shellcheck disable=SC2154
    for patchfile in "${patchdir}"/**/*.*patch "${patchdir}"/**/*.*revert; do
        [ -e "${patchfile}" ] || continue
        local patchfilename="${patchfile##*/}"
        firstpatch="${basedir}/$(printf '%04d' ${i})-${patchfilename%.*}.my${patchfilename##*.}"
        break
    done
}
firstpatch
unset -f firstpatch

patch() {
    local file
    if file="$(readlink /proc/self/fd/0)" && [ "${file##*/}" = "${firstpatch##*/}" ]; then
        unset -f patch
        unset file firstpatch
        rebase >/dev/tty
        exit
    fi
    command patch "$@"
}
